import React from 'react'
import PropTypes from 'prop-types'
import './styles.scss'

export const {{ properCase name }} = ({ className, children }) => (
  <div className={className}>{children}</div>
)

{{ properCase name }}.propTypes = {
  children: PropTypes.any.isRequired,
  className: PropTypes.string
}
{{ properCase name }}.defaultProps = {}
