import { {{ properCase name }} } from './index';

export default {
  title: '{{ properCase name }}',
  component: {{ properCase name }},
  argTypes: {
    className: ''
  }
}

const Template = (args) => <{{ properCase name }} {...args}>sample component</{{ properCase name }}>

export const Primary = Template.bind({})
Primary.args = {
  primary: true,
  label: '{{ properCase name }}'
}
